<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="pageLogin" style="width:100%;height:920px;position: relative;">
		<div class="header" style="position: absolute; top:10%; left:35%">
			<p style="font-size: 50px; text-align: center;color:white">Login Form</p>
		</div>

		<div class="main-w3layouts-agileinfo">
			<div class="wthree-form">
				<h2>Fill out the form below to login</h2>
				<form action="#" method="post">
					<div class="form-sub-w3">
						<input type="text" name="Username" placeholder="Username " required=""
							[(ngModel)]="model.name" />
						<div class="icon-w3">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
					</div>
					<div class="form-sub-w3">
						<input type="password" name="Password" placeholder="Password" required=""
							[(ngModel)]="model.password" />
						<div class="icon-w3">
							<i class="fa fa-unlock-alt" aria-hidden="true"></i>
						</div>
					</div>
					<label class="anim">
						<input type="checkbox" class="checkbox">
						<span>Remember Me</span>
						<a href="#">Forgot Password</a>
					</label>
					<div class="clear"></div>
					<div *ngIf="invalidLogin===true">
						<p style="text-align: center;color:red;">Tài khoản hoặc mật khẩu không hợp lệ</p>
					</div>
					<div class="submit-agileits">
						<input type="submit" value="Login" (click)=checkLogin()>

					</div>
				</form>
			</div>



		</div>
	</div>

</body>