<div class="container-fluid">
        <div class="row">
                <div class="col-6 text-font">Issue Found</div>
                <div class="col-3 text-down"><a (click)="downloadAFile(message)">Download Report As XML</a></div>
        </div>
        <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-2">

                                <div class="row">
                                        <div class="col-6">
                                                <div (click)="fitlerPriority('1')"><i
                                                                class='fa fa-exclamation-circle color1'>Blocker</i>
                                                </div>
                                                <div (click)="fitlerPriority('2')"><i
                                                                class='fa fa-arrow-circle-up color1'>Critical</i></div>
                                                <div (click)="fitlerPriority('3')"><i
                                                                class='fa fa-chevron-circle-up color1'>Major</i></div>
                                        </div>
                                        <div class="col-6">
                                                <div (click)="fitlerPriority('4')"><i
                                                                class='fa fa-chevron-circle-up color2'>Minor</i></div>
                                                <div (click)="fitlerPriority('5')"><i
                                                                class='fa fa-arrow-circle-down color2'>Info</i></div>
                                        </div>
                                </div>

                        </div>
                        <div class="col-sm-10" style="width:100%;height:630px">
                                <table border="1"
                                        *ngFor="let item of listReport | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index"
                                        style="width:80%;margin-top: 10px">
                                        <tr>
                                                <td colspan="3" style="text-align: left;"><b>{{item.temp}}</b>
                                                </td>
                                        </tr>
                                        <tr>
                                                <th style="width:20%"><i class='fa fa-exclamation-circle color1'
                                                                *ngIf="item.priority==='1'">Blocker</i>
                                                        <i class='fa fa-arrow-circle-up color1'
                                                                *ngIf="item.priority=='2'">Critical</i>
                                                        <i class='fa fa-chevron-circle-up color1'
                                                                *ngIf="item.priority==='3'">Major</i>
                                                        <i class='fa fa-chevron-circle-up color2'
                                                                *ngIf="item.priority==='4'">Minor</i>
                                                        <i class='fa fa-arrow-circle-down color2'
                                                                *ngIf="item.priority==='5'">Info</i>
                                                </th>
                                                <th style="width: 300px;">Begin Line:{{item.beginLine}}</th>
                                                <th style="width: 300px;">End Line:{{item.endLine}}</th>
                                        </tr>
                                </table>
                        </div>
                </div>
                <div style="margin-left:550px;margin-top:45px ">
                        <pagination-controls (pageChange)="currentPage = $event" (click)="setPage()">
                        </pagination-controls>
                </div>

        </div>