.row{
    margin-top:50px;
    /* padding-left:50px; */
}
.text-font{
    font-size:30px;
    margin-left:20%;
}
.text-down{
    font-size:30px;
}
table{
    border: 1px solid black;
    margin-top: 50px;
    height:auto; 
    margin-left:30px;
}
.color1::first-letter{
    color:red
}
.color2::first-letter{
    color:chartreuse;
}
a {
    cursor: pointer;
}