<div>
    <div class="uploadFile">
        <input type="file" [multiple]="multiple" id="file" #fileInput>
        <button type="submit" (click)="uploadFiles()">Upload</button>
    </div>

    <table class="table" style="width:60%">
        <thead>
            <tr style="background-color: gray">
                <th style="width: 10%">ID</th>
                <th>FileName</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listFile; let i=index">

                <td>{{item.id}}</td>
                <span (click)="reportAFile(item.filename)" [routerLink]="['/showError/',item.id]">
                    <td>{{item.filename}}</td>
                </span>
            </tr>
        </tbody>
    </table>

</div>