<header>
  <nav class="navbar navbar-dark bg-dark">
    <div style="font-size:30px;color:white">PMDTeam3</div>
    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
</header>